node_modules
**/node_modules

.next
**/.next

dist
**/dist

.turbo
**/.turbo

coverage
.git
.vscode

.env
.env.*

*.log

pnpm-debug.log

Dockerfile*
docker-compose*

apps/web/.next
apps/web/out

apps/api/dist
apps/worker/dist

packages/*/dist